<div ng-controller="viewProfileController">

	<ol class="breadcrumb" ng-controller="breadcrumbController">
		<li><a href="#/providers">Back to Provider Search</a></li>
		<li><a href="#/providers/{{selectedProvider}}">{{provider_name}}</a></li>
		<li class="active">{{profile_name}}</li>
	</ol>
	<div class="noborder panel panel-default">
		<h3>View Profile</h3>

		<a href="#/providers/{{selectedProvider}}" class="btn btn-default">CANCEL</a> 
		<a href="#/providers/{{selectedProvider}}/profile/{{profile.profile_id}}/edit" class="btn btn-primary">EDIT</a>
		<h3>Profile 2 to the provider</h3>
	</div>
	<div class="noborder panel panel-default">
		<table class="noborder table table-default"
			style="width: 50%; border: 0px;">
			<tr ng-repeat="stream in streams">
				<td><p class="propertyLabel">Stream {{stream.id}}:</p>
					<div class="input-group">
						<input type="text" class="form-control"
							value="Encode Width:{{stream.encode_width}}; Audio Bit Rate: {{stream.audio_bitrate}}; h266 profile: {{stream.h266_profile}}; Stream Type: {{stream.stream_type}}; Video Bit Rate: {{stream.video_bitrate}}; Audio Sample Rate: {{stream.audio_sample_rate}} ">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">COPY</button>
						</span>
					</div></td>
			<tr>
		</table>
	</div>

	<div class="noborder panel panel-default">
		<table class="noborder table table-default"
			style="width: 50%; border: 0px;">
			<tr>
				<td><span class="propertyLabel">Image interval sec: </span>{{profile.image_interval_sec}}</td>
				<td><span class="propertyLabel">Custom image widths: </span>{{profile.custom_image_widths}}</td>
			</tr>
			<tr>
				<td>
					<table class="table table-default">
						<tr>
							<th>Watermark</th>
						</tr>
						<tr ng-repeat="watermark in profile.watermarks">
							<td style="border-bottom: 1px solid #ddd;">{{watermark.url}}</td>
						</tr>

					</table>
				</td>
				<td><span class="propertyLabel">Position: </span>{{profile.position}}</td>
			</tr>
		
			<tr>
				<td><span class="propertyLabel">Deinterlace input: </span>{{profile.deinterlace_input | booleanFormatter}}</td>
				<td><span class="propertyLabel">Override source: </span>{{profile.override_source | booleanFormatter}}</td>
			</tr>
			<tr>
				<td><span class="propertyLabel">Multipass encoding: </span>{{profile.mezzanine_multipass_encoding | booleanFormatter}}</td>
			</tr>
		</table>
	</div>


	<div class="noborder panel panel-default">
		<a href="#/providers/{{selectedProvider}}" class="btn btn-default">CANCEL</a> 
		<a href="#/providers/{{selectedProvider}}/profile/{{profile.profile_id}}/edit" class="btn btn-primary">EDIT</a>
	</div>
</div>