<ol class="breadcrumb">
	<li><a href="#/providers">HOME</a></li>
	<li><a href="#/providers/{{selectedProvider}}">{{selectedProvider}}</a></li>
	<li class="active">{{selectedProfile}}</li>
</ol>
<div class="noborder panel panel-default">
<h3>View Profile</h3>

<a href="#/providers/{{selectedProvider}}" class="btn btn-default" ng-click=""
	ng-hide="{{profile.type==='default_video'}}">CANCEL</a>
<a href="#" class="btn btn-primary" ng-click=""
	ng-hide="{{profile.type==='default_video'}}">EDIT</a>
<h3>Profile 2 to the provider</h3>
</div>
<div class="noborder panel panel-default">
	<table class="noborder table table-default" style="width: 55%; border: 0px;">
		<tr ng-repeat="stream in streams">
			<td><span class="propertyLabel">Stream {{stream.stream_id}}:</span></td>
			<td><div>
					<span class="propertyLabel">Encode Width: </span>{{stream.encode_width}}
				</div>
				<div>
					<span class="propertyLabel">Audio Bit Rate: </span>{{stream.audio_bitrate}}
				</div></td>
			<td><div>
					<span class="propertyLabel">h266 profile: </span>{{stream.h266_profile}}
				</div>
				<div>
					<span class="propertyLabel">Stream Type: </span>{{stream.stream_type}}
				</div></td>
			<td><div>
					<span class="propertyLabel">Video Bit Rate: </span>{{stream.video_bitrate}}
				</div>
				<div>
					<span class="propertyLabel">Audio Sample Rate: </span>{{stream.audio_sample_rate}}
				</div></td>
		</tr>
	</table>
</div>
<div class="noborder panel panel-default">
	<table class="noborder table table-default" style="width: 50%; border: 0px;">
		<tr>
			<td><span class="propertyLabel">Play Ready Encryption: </span>{{profile.Play_Ready_Encryption}}</td>
			<td><span class="propertyLabel">Add Audio Only to WVM: </span>{{profile.Add_Audio_Only_to_WVM}}</td>
		</tr>
		<tr>
			<td><span class="propertyLabel">Flash Access: </span>{{profile.Flash_Access}}</td>
			<td><span class="propertyLabel">Custom Image Width: </span>{{profile.Custom_Image_Width}}</td>
		</tr>
		<tr>
			<td><span class="propertyLabel">Zencoder: </span>{{profile.Zencoder}}</td>
			<td><span class="propertyLabel">Duplicate Check: </span>{{profile.Duplicate_Check}}</td>
		</tr>
		<tr>
			<td><span class="propertyLabel">Flv Post Bit Rate
					Threshold: </span>{{profile.Flv_Post_Bit_Rate_Threshold}}</td>
			<td><span class="propertyLabel">Encrypt iOS ABR: </span>{{profile.Encrypt_iOS_ABR}}</td>
		</tr>
		<tr>
			<td><span class="propertyLabel">Bypass Chunking: </span>{{profile.Bypass_Chunking}}</td>
		</tr>
	</table>
</div>

<div class="noborder panel panel-default">
<a href="#/providers/{{selectedProvider}}" class="btn btn-default" ng-click=""
	ng-hide="{{profile.type==='default_video'}}">CANCEL</a>
<a href="#" class="btn btn-primary" ng-click=""
	ng-hide="{{profile.type==='default_video'}}">EDIT</a>
</div>