<ol class="breadcrumb">
	<li><a href="#/providers">HOME</a></li>
	<li><a href="#/providers/{{selectedProvider}}">{{selectedProvider}}</a></li>
	<li class="active">{{selectedProfile}}</li>
</ol>
<div class="noborder panel panel-default">
	<h3>View Profile</h3>

	<a href="#/providers/{{selectedProvider}}" class="btn btn-default"
		ng-click="" ng-hide="{{profile.type==='default_video'}}">CANCEL</a> <a
		href="#" class="btn btn-primary" ng-click=""
		ng-hide="{{profile.type==='default_video'}}">EDIT</a>
	<h3>Profile 2 to the provider</h3>
</div>
<div class="noborder panel panel-default">
	<table class="noborder table table-default"
		style="width: 55%; border: 0px;">
		<tr ng-repeat="stream in streams">
			<td><span class="propertyLabel">Stream
					{{stream.stream_id}}:</span></td>
			<td><div>
					<span class="propertyLabel">Encode Width: </span>{{stream.encode_width}}
				</div>
				<div>
					<span class="propertyLabel">Audio Bit Rate: </span>{{stream.audio_bitrate}}
				</div></td>
			<td><div>
					<span class="propertyLabel">h266 profile: </span>{{stream.h266_profile}}
				</div>
				<div>
					<span class="propertyLabel">Stream Type: </span>{{stream.stream_type}}
				</div></td>
			<td><div>
					<span class="propertyLabel">Video Bit Rate: </span>{{stream.video_bitrate}}
				</div>
				<div>
					<span class="propertyLabel">Audio Sample Rate: </span>{{stream.audio_sample_rate}}
				</div></td>
		</tr>
	</table>
</div>
<div class="noborder panel panel-default">
	<table class="noborder table table-default"
		style="width: 50%; border: 0px;">
		<tr>
			<td><span class="propertyLabel">Image interval sec: </span>{{profile.image_interval_sec}}</td>
			<td><span class="propertyLabel">Custom image widths: </span>{{profile.custom_image_widths}}</td>
		</tr>
		<tr>
			<td><span class="propertyLabel">Watermarks: </span>{{profile.watermarks}}
				<span class="propertyLabel">Position: </span>{{profile.position}}</td>
			<td><span class="propertyLabel">Deinterlace input: </span>{{profile.deinterlace_input}}</td>

		</tr>
		<tr>
			<td><span class="propertyLabel">Override source: </span>{{profile.override_source}}</td>
			<td><span class="propertyLabel">Multipass encoding: </span>{{profile.multipass_encoding}}</td>
		</tr>
	</table>
</div>

<div class="noborder panel panel-default">
	<a href="#/providers/{{selectedProvider}}" class="btn btn-default"
		ng-click="" ng-hide="{{profile.type==='default_video'}}">CANCEL</a> <a
		href="#" class="btn btn-primary" ng-click=""
		ng-hide="{{profile.type==='default_video'}}">EDIT</a>
</div>