/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

html,body {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
}
/* app css stylesheet - custom styles*/
#hdrdiv {
	background-color: #35474D;
	border-bottom: 1px solid #e9e9e9;
	padding: 10px 35px;
}

#hdrtxt {
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	float: right;
}

.wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -30px;
	/* Pad bottom by footer height */
	padding: 0 0 30px;
}

.toolContainer {
	overflow: auto;
	padding-bottom: 30px;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 20px;
}

footer {
	position: relative;
	clear: both;
	height: 30px;
	line-height: 30px;
	padding: 0 35px;
	margin-top: -30px;
	background-color: #A7B0B8;
	color: white;
}

.storageDiv {
	float: right;
	margin-right: 10px;
}

.newStorageDiv {
	float: left;
	margin-left: 10px;
}

.DashboardSrchDiv {
	/* 	margin: 20px 0px; */
	
}

#profileDtlPnl {
	border-width: 0px;
}

#profDtlHdr {
	color: #91A5AF;
	padding-left: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 0px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.alert {
	margin-top: 10px;
}

.breadcrumb {
	margin-bottom: 0px;
	border: 0px;
	border-radius: 0px;
	border-bottom: 0px;
	padding: 0px 0px 15px 0px;
	background-color: #fff;
}

table {
	border: 1px solid #DDD;
}

td {
	font-family: 'Open Sans', sans-serif;
	color: #1A1A1A;
}

th {
	background-color: #E8EDF1;
	color: #91A5AF;
	font-weight: 400;
	font-size: 15px;
}

.checkbox {
	margin: 0px 10px;
}

#searchbox {
	background-image: url('images/search-icon.png');
	background-repeat: no-repeat;
	width: 245px;
	text-indent: 15px;
}
/* Overriding default panel style provided in bootstrap */
.toolPanel {
	border-radius: 0px;
	background-color: #f9f9f9;
	border-width: 0px;
	padding: 0px 35px;
}

#logoPanelBody {
	padding-left: 0px;
}

#checkalldiv {
	padding: 0px 0px 10px 0px;
	margin-bottom: 0px;
}

#checkboxdiv {
	float: left;
	padding: 5px 10px 5px 10px;
	background-color: #DEDFE2;
	border-radius: 4px;
}

.showonhover {
	opacity: 1;
}

.hideonhover {
	opacity: 0;
	height: 0px;
}

.rowhover {
	background-color: #eee;
}

.rowout {
	background-color: #fff;
}

.buttonbar {
	float: right;
	height: 35px;
}

.noborder {
	border: 0px;
	box-shadow: none;
}

table.noborder tbody tr td {
	border: 0px;
}

.propertyLabel {
	font-weight: bold;
}

table tbody tr td.verticalmid{
	vertical-align: middle;
}

#lockicon{
	padding: 0px 9px 5px 9px;
}