<div ng-controller="providerSearchController">
	<form role="form" name="providerSrcForm">
		<div class="form-group">
			<label class="sr-only" for="provider">Search Provider</label>
			<div class="row">
				<div class="col-lg-3">
					<input id="searchbox" type="search" class="form-control"
						placeholder="Search provider by name, ID or email"
						ng-model="providerSrchStr" ng-change="searchProvider()" required
						focus>
				</div>
			</div>
		</div>
	</form>

	<div class="alert alert-danger alert-dismissible" role="alert"
		ng-show="noProviderErr">{{noProviderAlrtMsg}}</div>

	<div class="gridclass">
		<table class="table">
			<tr>
				<th>NAME</th>
				<th>ID</th>
				<th>EMAIL</th>
				<th style="text-align: center;">PROFILES</th>
			</tr>
			<tr ng-repeat="provider in providers" class="rowout" table-Rowhover
				provider-Rowhover>
				<td class="verticalmid">{{provider.name}}</td>
				<td class="verticalmid">{{provider.provider_id}}</td>
				<td class="verticalmid">{{provider.email}}</td>
				<td style="text-align: center;">
				<div style="height: 35px;"><div class="showonhover"><span>{{provider.profile_count}}</div>
					<div class="hideonhover"><a class="btn btn-primary"
					href="#/providers/{{provider.provider_id}}">MANAGE PROFILES</a></div></div></td>

			</tr>
		</table>
	</div>