

<script type="text/ng-template" id="popover$index"
	ng-repeat="profile in profiles">
<div style="background-color: #fff; border:1px solid #ddd; padding:10px; box-shadow: 0 0 1em #7F8488;"><h4>Profile Configuration</h4>
  <ul class="list-group">
	<li class="list-group-item">Type: {{profile.type}}</li>
	<li class="list-group-item">Private: {{profile.private | booleanFormatter}}</li>
	<li class="list-group-item">Deinterlace Input: 
		{{profile.deinterlace_input | booleanFormatter}}</li>
	<li class="list-group-item">Frame Rate: {{profile.frame_rate}}</li>
	<li class="list-group-item">Mezzanine Multipass Encoding: 
		{{profile.mezzanine_multipass_encoding | booleanFormatter}}</li>
</ul>
</div>
</script>

<div ng-controller="providersCntrl">
	<div id="checkalldiv" class="panel panel-body">
		<div id="checkboxdiv">
			<input type="checkbox" ng-click="checkAll()">
		</div>
		<div style="float: left; padding-left: 10px;">
			<a href="#" class="btn btn-default" ng-show="singleCheck">MAKE DEFAULT</a> <a href="#"
				class="btn btn-default" ng-show="singleCheck">VIEW AND EDIT</a> <a href="#"
				class="btn btn-default">REMOVE</a>
		</div>
		<div style="float: right;">
			<a href="#" class="btn btn-primary">NEW PROCESSING PROFILE</a> <a
				href="#/providers/{{selectedProvider}}/storageconfig"
				class="btn btn-default">MANAGE STORAGE CONFIG</a> <a href="#"
				class="btn btn-default">IMPORT</a>
		</div>
	</div>

	<div class="panel panel-default" style="border-width: 0px;">
		<ol class="breadcrumb">
			<li><a href="#/providers">HOME</a></li>
			<li class="active">{{selectedProvider}}: PROCESSING PROFILES</li>
		</ol>
		<div id="profileDtlPnl" class="panel panel-default">
			<!-- Form Name -->
			<form class="form-inline" role="form">
				<table class="table">
					<tr ng-repeat="profile in profiles" table-Rowhover>
						<td><label class="checkbox"> <input type="checkbox" ng-click="updateCheckFlag()" ng-checked="allChecked"
								ng-disabled="{{profile.type==='default_video'}}"></label> <span
							ns-popover ns-popover-template="popover$index"
							ns-popover-trigger="mouseover" ns-popover-placement="right"
							ns-popover-hide-on-click="true" ns-popover-timeout="0">{{profile.name}}</span>
						</td>
						<td>
							<div class="buttonbar hideonhover">
								<a href="#" class="btn btn-primary" ng-click="">MAKE DEFAULT</a>
								<a href="#" class="btn btn-default" ng-click="">VIEW AND
									EDIT</a> <a href="#" class="btn btn-default" ng-click="">REMOVE</a>
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>


